body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  /* font-family: monospace; */
  background-color: #e0e5ec;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Spinner Styles */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000; /* Make sure the spinner is above other content */
}

.spinner-border {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Spinner Styles */

.first-tool {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mid-tool {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tools_no1 {
  width: 50px;
  height: 50px;
  background-color: #ff3e3e;
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff;
  border-radius: 50%;
  position: absolute;
  top: -25px; /* Half the height of tools_no */
  left: calc(50% - 25px); /* Center horizontally relative to container0 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.tools_no2 {
  width: 50px;
  height: 50px;
  background-color: #0051ff;
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff;
  border-radius: 50%;
  position: absolute;
  top: -25px; /* Half the height of tools_no */
  left: calc(50% - 25px); /* Center horizontally relative to container0 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.tools_no3 {
  width: 50px;
  height: 50px;
  background-color: #ff7b00;
  box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff;
  border-radius: 50%;
  position: absolute;
  top: -25px; /* Half the height of tools_no */
  left: calc(50% - 25px); /* Center horizontally relative to container0 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container1 {
  position: relative;
  margin: 25px;
  background: #e0e5ec;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 7px 7px 15px #a3b1c6, -7px -7px 15px #ffffff;
  width: 300px;
  text-align: center;
}

.excel-tool {
  margin: 25px;
  background: #e0e5ec;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 7px 7px 15px #a3b1c6, -7px -7px 15px #ffffff;
  width: 300px;
  text-align: center;
}

/* .template {
    position: relative;
    margin: 25px;
    background: #e0e5ec;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 15px #a3b1c6,
                -7px -7px 15px #ffffff;
    width: 300px;
    text-align: center;
} */

.container2 {
  position: relative;
  margin: 25px 25px 0px 25px;
  background: #e0e5ec;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 7px 7px 15px #a3b1c6, -7px -7px 15px #ffffff;
  width: 350px;
  text-align: center;
}

.container3 {
  position: relative;
  margin: 25px;
  background: #e0e5ec;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 7px 7px 15px #a3b1c6, -7px -7px 15px #ffffff;
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #fff;
}

h2 {
  margin-bottom: 0px;
  color: #333;
}

.excel-tool h2 {
  margin-top: 0;
}

h3 {
  font-family: monospace;
  margin: 5px 0 15px;
  font-size: 1em;
}

h4 {
  font-family: monospace;
  margin: 10px 0 20px;
  font-size: 1em;
}

.radio-group {
  margin: 0px;
}

label {
  font-family: monospace;
  font-size: 1.2em;
  display: block;
  margin-bottom: 0px;
  color: #333;
  font-weight: bolder;
}

.file-input {
  margin: 10px;
  padding: 5px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 10px;
}

.text-input {
  width: calc(100% - 20px);
  padding: 10px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: inset 3px 3px 6px #a3b1c6, inset -3px -3px 6px #ffffff;
  background: #e0e5ec;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 0%; /* Position the tooltip below the input box */
  left: 100%; /* Align the tooltip to the center horizontally */
  margin-left: 10px; /* Space between the input box and tooltip */
  background-color: #c20808;
  color: #ffffff;
  border-radius: 10px;
  display: none; /* Hide by default */
  white-space: nowrap;
  z-index: 10; /* Ensure the tooltip is above other content */
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

/* Add the tooltip tail using a pseudo-element */
.tooltip::after {
  content: "";
  position: absolute;
  top: 50%; /* Center the tail vertically relative to the tooltip */
  right: 100%; /* Position the tail at the left edge of the tooltip */
  transform: translateY(-50%); /* Center the tail vertically */
  border-width: 5px; /* Size of the tail */
  border-style: solid;
  border-color: transparent #c20808 transparent transparent; /* Tail color */
}

.tooltip h3 {
  font-size: 1.2em;
}

/* Show the tooltip when the input box is focused */
.input-group input:focus + .tooltip {
  display: block;
}

.radio-input {
  width: auto;
}

.radio-label {
  font-family: monospace;
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
  margin-right: 10px;
}

/* Style for the selected label */
.radio-input:checked + .radio-label {
  font-weight: bold;
}

.marketplace {
  margin-bottom: 10px;
}

.jasa-kirim {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.penjual {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button-bg {
  padding: 10px 20px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  background: #e0e5ec;
  box-shadow: 3px 3px 6px #a3b1c6, -3px -3px 6px #ffffff;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-red {
  padding: 7px 12px;
  margin: 10px 0 5px;
  border: none;
  border-radius: 50px;
  background: #ff3e3e;
  box-shadow: 3px 3px 6px #a3b1c6, -3px -3px 6px #ffffff;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1em;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.circle-red {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: #ffffff;
  /* box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff; */
  border-radius: 50%;
}

.button-red button {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.button-blue {
  padding: 7px 12px;
  margin: 10px 0 5px;
  border: none;
  border-radius: 50px;
  background: #0051ff;
  box-shadow: 3px 3px 6px #a3b1c6, -3px -3px 6px #ffffff;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1em;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.circle-blue {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: #ffffff;
  /* box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff; */
  border-radius: 50%;
}

.button-blue button {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.button-org {
  padding: 7px 12px;
  margin: 10px 0 5px;
  border: none;
  border-radius: 50px;
  background: #ff7b00;
  box-shadow: 3px 3px 6px #a3b1c6, -3px -3px 6px #ffffff;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1em;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.circle-org {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: #ffffff;
  /* box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff; */
  border-radius: 50%;
}

.button-org button {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.button-red:hover {
  background-color: transparent;
  box-shadow: 0 0 3px 1px #fdfeff, inset 0 0 3px 1px #fdfeff; /* Create a glowing border */
}

.button-red:hover .circle-red {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: #ff3e3e;
  /* box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff; */
  border-radius: 50%;
}

.button-red:hover button {
  border: none;
  background: none;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.button-blue:hover {
  background-color: transparent;
  box-shadow: 0 0 3px 1px #fdfeff, inset 0 0 3px 1px #fdfeff; /* Create a glowing border */
}

.button-blue:hover .circle-blue {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: #0051ff;
  /* box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff; */
  border-radius: 50%;
}

.button-blue:hover button {
  border: none;
  background: none;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.button-org:hover {
  background-color: transparent;
  box-shadow: 0 0 3px 1px #fdfeff, inset 0 0 3px 1px #fdfeff; /* Create a glowing border */
}

.button-org:hover .circle-org {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: #ff7b00;
  /* box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff; */
  border-radius: 50%;
}

.button-org:hover button {
  border: none;
  background: none;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

/* theme selector light or dark */

.theme {
  position: fixed; /* Use fixed positioning */
  top: 20px; /* Adjust top value as needed */
  right: 20px; /* Adjust right value as needed */
  /* transform: translateX(-50%); /* Shifts it back to the center */
  display: flex; /* Use flex for alignment if needed */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  color: #394a56;
  z-index: 1000; /* Ensure it is above other content */
}

.theme-text {
  font-family: monospace;
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
  margin: 10px 0 0 0;
}

.toggle {
  isolation: isolate;
  height: 20px;
  width: 40px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #ff3e3e;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

.footer {
  position: fixed; /* Use fixed positioning */
  bottom: 20px; /* Adjust top value as needed */
  left: 50%;
  transform: translateX(-50%); /* Adjust right value as needed */
}

.footer a {
  color: #333;
}

/* media breakpoint */

@media (max-width: 768px) {
  body {
    flex-direction: column;
    height: auto;
  }
  .container1,
  .container2,
  .container3 {
    width: 300px;
    padding: 10px;
  }
  .file-input {
    margin: 0;
  }
}
