body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #e0e5ec;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tools_no1 {
    width: 50px;
    height: 50px;
    background-color: #ff3e3e;
    box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff;
    border-radius: 50%;
    position: absolute;
    top: -25px; /* Half the height of tools_no */
    left: calc(50% - 25px); /* Center horizontally relative to container0 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.tools_no2 {
    width: 50px;
    height: 50px;
    background-color: #0051ff;
    box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff;
    border-radius: 50%;
    position: absolute;
    top: -25px; /* Half the height of tools_no */
    left: calc(50% - 25px); /* Center horizontally relative to container0 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.tools_no3 {
    width: 50px;
    height: 50px;
    background-color: #ff7b00;
    box-shadow: 2px 2px 5px #babecc, -2px -2px 5px #fff;
    border-radius: 50%;
    position: absolute;
    top: -25px; /* Half the height of tools_no */
    left: calc(50% - 25px); /* Center horizontally relative to container0 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container1 {
    position: relative;
    margin: 25px;
    background: #e0e5ec;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 15px #a3b1c6,
                -7px -7px 15px #ffffff;
    width: 300px;
    text-align: center;
}

.container2 {
    position: relative;
    margin: 25px 25px 0px 25px;
    background: #e0e5ec;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 15px #a3b1c6,
                -7px -7px 15px #ffffff;
    width: 300px;
    text-align: center;
}

.container3 {
    position: relative;
    margin: 25px;
    background: #e0e5ec;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 15px #a3b1c6,
                -7px -7px 15px #ffffff;
    width: 300px;
    text-align: center;
}

.mid-tool {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    color: #fff;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

h3 {
    font-size: 0.8em;
    font-style: oblique;
}

h4 {
    margin: 10px 0 20px;
    font-size: 0.8em;
}

.radio-group {
    margin: 0px;
}

label {
    font-size: 1em;
    display: block;
    margin-bottom: 0px;
    color: #333;
    font-weight: bold;
}

.file-input {
    margin: 10px;
    padding: 5px;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
}

.text-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: inset 3px 3px 6px #a3b1c6,
                inset -3px -3px 6px #ffffff;
    background: #e0e5ec;
    color: #333;
    margin-bottom: 20px;
}

.radio-input {
    width: auto;
}

.radio-label {
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    margin-right: 10px;
}

.marketplace {
    margin-bottom: 10px;
}

.jasa-kirim {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.penjual {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.button-bg {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background: #e0e5ec;
    box-shadow: 3px 3px 6px #a3b1c6,
                -3px -3px 6px #ffffff;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button1 {
    padding: 10px 20px;
    margin: 10px 0 5px;
    border: none;
    border-radius: 50px;
    background: #ff3e3e;
    box-shadow: 3px 3px 6px #a3b1c6,
                -3px -3px 6px #ffffff;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
    font-weight: bold;
}

.button2 {
    padding: 10px 20px;
    margin: 10px 0 5px;
    border: none;
    border-radius: 50px;
    background: #0051ff;
    box-shadow: 3px 3px 6px #a3b1c6,
                -3px -3px 6px #ffffff;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
    font-weight: bold;
}

.button3 {
    padding: 10px 20px;
    margin: 10px 0 5px;
    border: none;
    border-radius: 50px;
    background: #ff7b00;
    box-shadow: 3px 3px 6px #a3b1c6,
                -3px -3px 6px #ffffff;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
    font-weight: bold;
}

.button1:hover {
    background-color: #0051ff;
}

.button2:hover {
    background-color: #f83838;
}

.button3:hover {
    background-color: #f83838;
}
